{% extends 'layouts/main.html' %}

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <p>Thank you for your purchase!</p>
    

    <div class="mt-20 text-center text-secondary">
      <p><strong>Amount Charged:</strong> ${{ amount | float / 100 }}</p> <!-- Convert cents to dollars -->
      <p><strong>Payment Intent ID:</strong> {{ payment_intent }}</p>
    </div>
  </div>
</main>
{% endblock %}
